<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post">
  <header class="post-header">
    <h1 class="post-title">Bingyao Li</h1>
  </header>
  <div class="post-content">
    <table border="0">
      <tbody>
	<tr>
	  <td>
	    <img src="/assets/yunming_personal.JPG" width="160" />
	  </td>
	  <td >
	    PhD Candidate<br />
	    Computer Science<br />
	    School of Computing and Information<br />
	    University of Pittsburgh<br />
	    <a href="mailto:bil35@pitt.edu">bil35 at pitt dot edu</a><br />
	    <a href="https://scholar.google.com/citations?hl=zh-CN&user=HnyRsm8AAAAJ">Google Scholar</a><br />
	    <a href="/assets/LBY_CV.pdf">Curriculum Vitae</a>
	  </td>
	</tr>
      </tbody>
</table>
<p>
I am a Ph.D student at University of Pittsburgh, advised by <a href="http://xzt102.github.io/" target="_blank">Dr. Xulong Tang</a> . I received my Bachelor and Master degree from the College of Intelligence and Computing, Tianjin University, advised by <a href="http://cic.tju.edu.cn/faculty/yuce/index.html" target="_blank">Dr. Ce Yu</a>. 
</p>



<h3 class="tableheading"> Publications </h3>
<table>
  <tbody>
    <tr>
      <td>
	<b>Optimizing Data Layout for Training Deep Neural Networks</b><br>
	<a href="/assets/EMDC_data_layout.pdf" style="color: #0000FF"> [pdf] </a> 
	<br> 
	<u>Bingyao Li<sup>*</sup></u>, Qi Xue<sup>*</sup>, Geng Yuan<sup>*</sup>, Sheng Li, Xiaolong Ma, Yanzhi Wang, and Xulong Tang <br>
	The ACM Web Conference Workshop (WWW'22 workshop)<br>
	<span style="color: #9A4340; font-weight: bold">Best Paper Award</span>
      </td>
    </tr>

 

    <tr>
      <td>
	<b>Optimizing Ordered Graph Algorithms with GraphIt</b><br>
	<a href="https://dl.acm.org/doi/10.1145/3368826.3377909" style="color: #0000FF"> [pdf] </a>
 	<a href="https://arxiv.org/abs/1911.07260" style="color: #0000FF">[arxiv]</a> 
 	<a href="https://graphit-lang.org" style="color: #0000FF"> [GraphIt project] </a> 
	<br> 
	<u>Yunming Zhang</u>, Ajay Brahmakshatriya, Xinyi Chen, Laxman Dhulipala, Shoaib Kamil, Saman Amarasinghe, and Julian Shun<br>
	    International Symposium on Code Generation and Optimization (CGO 2020)<br>
      </td>
    </tr>

    <tr>
      <td>
	<b>GraphIt: a High-Performance Graph DSL</b><br>
	<a href="https://dl.acm.org/citation.cfm?id=3276491" style="color: #0000FF"> [pdf] </a>
	<a href="https://arxiv.org/abs/1805.00923" style="color: #0000FF">[arxiv]</a>
	<a href="https://graphit-lang.org" style="color: #0000FF"> [GraphIt project] </a>
	<br>
	<u>Yunming Zhang</u>, Mengjiao Yang, Riyadh Baghdadi, Shoaib Kamil, Julian Shun, and Saman Amarasinghe<br>
	    Proceedings of the ACM on Programming Languages, Volume 2. (OOPSLA 2018)<br>
      </td>
    </tr>
    <tr>
      <td>
	<b>Making Caches Work for Graph Analytics </b><br>
	<a href="https://ieeexplore.ieee.org/document/8257937" style="color: #0000FF">[pdf]</a>
	<a href="https://arxiv.org/abs/1608.01362" style="color: #0000FF">[arxiv]</a>
	<br>
	<u>Yunming Zhang</u>, Vladimir Kiriansky, Charith Mendis, Matei Zaharia, Saman Amarasinghe<br>
	  Proceedings of the 2017 IEEE International Conference on Big Data (Big Data 2017)<br>
	<span style="color: #9A4340; font-weight: bold">Best Student Paper Award</span>
      </td>
    </tr>
    <tr>
      <td>
	<b>Optimizing Indirect Memory References with Milk</b><br>
	<a href="https://dl.acm.org/citation.cfm?id=2967948" style="color: #0000FF">[pdf]</a><br>
	Vladimir Kiriansky, <u>Yunming Zhang</u>, Saman Amarasinghe<br>
	Proceedings of the 2016 International Conference on Parallel Architectures and Compilation Techniques (PACT 2016)
      </td>
    </tr>
    <tr>
      <td>
	<b>Tiramisu: A Polyhedral Compiler for Expressing Fast and Portable Code</b><br>
	<a href="https://ieeexplore.ieee.org/document/8661197" style="color: #0000FF">[pdf]</a>
	<a href="https://arxiv.org/abs/1804.10694" style="color: #0000FF">[arxiv]</a>
	<a href="https://github.com/Tiramisu-Compiler/tiramisu" style="color: #0000FF"> [project] </a><br>
	Romdhane, Emanuele Del Sozzo, Abdurrahman Akkas, <u>Yunming Zhang</u>, Patricia Suriana, Shoaib Kamil, Saman Amarasinghe<br>
	Proceedings of the 2019 International Symposium on Code Generation and Optimization (CGO 2019)
      </td>
    </tr>
    <tr>
      <td>
	<b>HJ-Hadoop: an Optimized MapReduce Runtime for Multi-Core Systems</b><br>
	<a href="https://dl.acm.org/citation.cfm?id=2514875" style="color: #0000FF">[pdf]</a>
	<a href="https://scholarship.rice.edu/bitstream/handle/1911/87782/ZHANG-DOCUMENT-2014.pdf?sequence=1" style="color: #0000FF"> [master thesis] </a><br>
	<u>Yunming Zhang</u>, Alan Cox, Vivek Sarkar <br>
	Proceedings of the 2013 companion publication for conference on Systems, programming, & applications: software for humanity (SPLASH 2013)
      </td>
    </tr>

</table>

<h3>Teaching Experiences</h3>
I have enjoyed working as a TA for Performance Engineering of Software Systems at MIT(6.172), Fundamentals of Parallel Computing (COMP322), Advanced Object Oriented Computing (COMP310), and Computational Thinking (COMP 140) at Rice University. 
