<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post">
  <header class="post-header">
    <h1 class="post-title">Bingyao Li</h1>
  </header>
  <div class="post-content">
    <table border="0">
      <tbody>
	<tr>
	  <td>
	    <img src="/assets/LBY.JPG" width="160" />
	  </td>
	  <td >
	    PhD Candidate<br />
	    Computer Science<br />
	    School of Computing and Information<br />
	    University of Pittsburgh<br />
	    <a href="mailto:bil35@pitt.edu">bil35 at pitt dot edu</a><br />
	    <a href="https://scholar.google.com/citations?hl=zh-CN&user=HnyRsm8AAAAJ">Google Scholar</a><br />
	    <a href="/assets/LBY_CV.pdf">Curriculum Vitae</a>
	  </td>
	</tr>
      </tbody>
</table>
<p>
I am a Ph.D student at University of Pittsburgh, advised by <a href="http://xzt102.github.io/" target="_blank">Dr. Xulong Tang</a> . I received my Bachelor and Master degree from the College of Intelligence and Computing, Tianjin University, advised by <a href="http://cic.tju.edu.cn/faculty/yuce/index.html" target="_blank">Dr. Ce Yu</a>. 
</p>


<h3>News!</h3>
<ul>
<li>04/29/2022 Awarded CS50 Fellowship outstanding research</li>
</ul>


<h3 class="tableheading"> Publications </h3>
<table>
  <tbody>
    <tr>
      <td>
	<b>Optimizing Data Layout for Training Deep Neural Networks</b><br>
	<a href="/assets/EMDC_data_layout.pdf" style="color: #0000FF"> [pdf] </a> 
	<br> 
	<u>Bingyao Li</u><sup>*</sup>, Qi Xue<sup>*</sup>, Geng Yuan<sup>*</sup>, Sheng Li, Xiaolong Ma, Yanzhi Wang, and Xulong Tang <br>
	The ACM Web Conference Workshop<br>
	<span style="color: #9A4340; font-weight: bold">WWW 2022 workshop</span>
	<sup>*</sup> The authors contribute equally.<br>
      </td>
    </tr>

 

    <tr>
      <td>
	<b>Improving Address Translation in Multi-GPUs via Sharing and Spilling aware TLB Design</b><br>
	<a href="/assets/micro21_leastTLB.pdf" style="color: #0000FF"> [pdf] </a>
 	<a href="/assets/leastTLB_slides.pptx" style="color: #0000FF">[slide]</a> 
	<br> 
	<u>Bingyao Li</u>, Jieming Yin, Youtao Zhang, and Xulong Tang<br>
	    In Proceedings of the 54th IEEE/ACM International Symposium on Microarchitecture<br>
	    <span style="color: #9A4340; font-weight: bold">MICRO 2021</span>
      </td>
    </tr>



</table>

<h3>Teaching</h3>
<ul>
<li>CS1550: Introduction to Operating System</li>
Fall 2021, TA, University of Pittsburgh
</ul>




<h3>Awards & Honors</h3>
<ul>
<li><B>CS50 Fellowship</B>, University of Pittsburgh, 2022</li>
<li><B>SCI Fellowship</B>, University of Pittsburgh, 2020</li>
<li><B>National Scholarship</B>, Ministry of Education of China, 2019</li>
<li><B>Graduate Scholarship - First Prize</B>, Tianjin University, 2017,2019</li>
<li><B>National Astronomical Observatories Scholarship</B>, National Astronomical Observatories, 2016</li>
</ul>


