<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post">
 
  <div class="post-content">
    <table border="0">
      <tbody>
	<tr>
	  <td>
	    <img src="/assets/LBY.JPG" width="200" />
	  </td>
	  <td >
	  	 <div class="author__content">
                    <h1 style=font-size:28px>
                      <p class="author__name"><b>Bingyao Li 「李冰瑶」</b></p>
                    </h1>
  </header>
	    Ph.D. Candidate<br />
	    Department of Computer Science<br />
	    School of Computing and Information<br />
	    University of Pittsburgh<br />
	    <a href="mailto:bil35@pitt.edu"><i class="fas fa-envelope" aria-hidden="true"></i> bil35 [at] pitt [dot] edu</a><br />
	    <a href="https://scholar.google.com/citations?hl=zh-CN&user=HnyRsm8AAAAJ">Google Scholar</a><br />
	    <a href="/assets/LBY_CV.pdf"><i class='fas fa-file-pdf'></i> CV</a>
	  </td>
	</tr>
      </tbody>
</table>
<p>
Hi! I am currently a second-year Ph.D. student at the University of Pittsburgh, advised by <a href="http://xzt102.github.io/" target="_blank">Dr. Xulong Tang</a>. I received my B.E. and M.S. degree from the College of Intelligence and Computing, Tianjin University, advised by <a href="http://cic.tju.edu.cn/faculty/yuce/index.html" target="_blank">Dr. Ce Yu</a>. 
</p>

<p>
My research interests lie in <B>computer architecture</B>, with a focus on virtual memory and address translation for multi-GPU. 
</p>


<h3>News!</h3>
<ul>
<li>04/2022: Awarded CS50 Fellowship outstanding research</li>
</ul>

<br />


<h3 class="tableheading"> Publications </h3>
<table>
  <tbody>
    <tr>
      <td>
	<b>Optimizing Data Layout for Training Deep Neural Networks</b><br>
	<a href="/assets/EMDC_data_layout.pdf" style="color: #0000FF"> [pdf] </a> 
	<br> 
	<u>Bingyao Li</u><sup>*</sup>, Qi Xue<sup>*</sup>, Geng Yuan<sup>*</sup>, Sheng Li, Xiaolong Ma, Yanzhi Wang, and Xulong Tang <br>
	The ACM Web Conference Workshop<br>
	<sup>*</sup> The authors contribute equally.<br>
	<span style="color: #9A4340; font-weight: bold">WWW 2022 workshop</span>
	
      </td>
    </tr>

 

    <tr>
      <td>
	<b>Improving Address Translation in Multi-GPUs via Sharing and Spilling aware TLB Design</b><br>
	<a href="/assets/micro21_leastTLB.pdf" style="color: #0000FF"> [pdf] </a>
 	<a href="/assets/leastTLB_slides.pptx" style="color: #0000FF">[slide]</a> 
	<br> 
	<u>Bingyao Li</u>, Jieming Yin, Youtao Zhang, and Xulong Tang<br>
	    In Proceedings of the 54th IEEE/ACM International Symposium on Microarchitecture<br>
	    <span style="color: #9A4340; font-weight: bold">MICRO 2021</span>
      </td>
    </tr>



</table>

<h3>Teaching</h3>
<ul>
<li>CS1550: Introduction to Operating System</li>
Fall 2021, TA, University of Pittsburgh
</ul>


<br />


<h3>Awards & Honors</h3>
<ul>
<li><B>CS50 Fellowship</B>, University of Pittsburgh, 2022</li>
<li><B>SCI Fellowship</B>, University of Pittsburgh, 2020</li>
<li><B>National Scholarship</B>, Ministry of Education of China, 2019</li>
<li><B>Graduate Scholarship - First Prize</B>, Tianjin University, 2017, 2019</li>
<li><B>National Astronomical Observatories Scholarship</B>, National Astronomical Observatories, 2016</li>
</ul>


